* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(https://react-projects-13-stripe-submenus.netlify.app/static/media/hero.8596ab4a.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
