* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

.ul-nav {
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  flex-direction: column;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.nav-list ul h2 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
}

.btn-nav {
  border: none;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  cursor: pointer;
  transition: var(--transition);
}

.btn-nav:hover {
  background: var(--clr-grey-3);
}

.btn-nav h3 {
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main-title h1 {
    font-size: 5rem;
    width: 70%;
  }

  .main-title p {
    width: 100%;
  }

  .main-title {
    margin-top: 0;
    width: 80%;
  }

  .header {
    margin-top: 5px;
  }
}
