* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.nav-list ul h2 {
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 1200px;
}

.btn-nav {
  border: none;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.btn-nav h3 {
  font-weight: 400;
  cursor: default;
}
